# SQLAlchemy example

In [15]:
import pandas as pd
#sqlalchemy is a dependency for pd.to_sql
from sqlalchemy import create_engine, Column, Integer, String, Boolean, DateTime
from sqlalchemy.orm import declarative_base
from sqlalchemy.orm import sessionmaker

In [2]:
#database set up
database_file = 'places.db'
engine = create_engine('sqlite:///'+database_file)
Base = declarative_base()
Base.metadata.create_all(engine) #creates table if it doesn't exist
Session = sessionmaker(bind=engine)
session = Session()

In [3]:
#input data
data = {
    'id': [1, 2, 3, 4],
    'place_name': ['Parthenon', 'Jupiter', 'Lake Nemi', 'Athens'],
    'place_address': ['123 Main St', '456 Oak Ave', '789 Elm Rd', '101 Pine Blvd'],
    'protected': [True, False, True, False]
}

df = pd.DataFrame(data)

In [4]:
class Places(Base):
    __tablename__ = 'places'
    #to get the string lengths, you have to look at the data for the max lengths of the input data
    id = Column(Integer, primary_key=True)
    place_name = Column(String(9), unique=True, nullable=False)
    place_address  = Column(String(13), unique=True, nullable=False)
    protected  = Column(Boolean,  nullable=True)

In [18]:
df.to_sql('places', con=engine, if_exists='append', index=False)

4

In [19]:
Base.metadata.tables.keys()

dict_keys(['places'])

In [21]:
all_places = session.query(Places).all()
print()
print("all users:")
for p in all_places:
    print(p.id, p.place_name, p.place_address, p.protected)

all users:
1 Parthenon 123 Main St True
2 Jupiter 456 Oak Ave False
3 Lake Nemi 789 Elm Rd True
4 Athens 101 Pine Blvd False

In [23]:
places = session.query(Places).filter_by(place_name='Parthenon').first()
print(places.id, places.place_name, places.place_address, places.protected)

1 Parthenon 123 Main St True

In [24]:
session.close()